main {
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
.card {
  margin: 2px;
  width: 240px;
  height: 1040px;
  background-color:#ebd9aa;;
  border-radius: solid 50px;
  border-color: rgba(124, 12, 12, 0.13);
}
.card-img-top {
  object-fit: cover;
  height: 185px;
}
.card-title {
  text-align: center;
  font-weight: bold;
}
.card-text {
  text-align: justify;
}
@media (max-width: 768px) {
  main {
    margin-top: 100px;
    padding-bottom: 10px;
    height:auto;
  }
  .card {
    margin: 5px;
    width: 300px;
    height: 850px;
    
  }
}